* {padding: 0px; margin: 0px}

.container {
	width: 1360px; margin: auto;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

article {
	margin-top: 200px;
	height: 3700px;
}

body{
	background: white;
}

menu{
	width: 100%;
	margin: auto;
	background: white;
	position: sticky; z-index: 1 ;
	top: 0;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

.kiri img{
	float : left;
	padding : 10px;
}

nav ul li {
	float: left; list-style: none;
	margin-top: 20px;
}

nav ul li a{
	margin-right: 30px; text-decoration: none;
	padding: 3px 15px; color: black;
}

nav ul li ul{
	display: none;
}

nav ul li:hover > ul{
	display:block;
    background-color: white;
    padding: 5px;
	animation: growDown 400ms ease-in-out forwards;
}

nav{
    height: 40px; line-height:40px;
    padding-bottom: 38px;
}


nav ul li ul{
	position : absolute;
}

nav ul li ul li{
	float : none;
	position : relative;
}

nav ul li a:hover{color : blue;}

nav ul li:hover{background: white;}

.kanan img {
	width: 20px;
	height: 20px;
	overflow: hidden;
	float: left;
	margin-top: 29px;
	margin-left : 150px;
}

.kanan h4{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.sosmed img{
	width: 20px;
	height: 20px;
	overflow: hidden;
	float: left;
	margin-top: 29px;
	margin-left: 10px;
}

.search1 img{
	margin-left: 30px;
	padding: 26px 37px 26px 37px;
	background-color: red;
	width: 28px;
	height: 25px;
}

.picturebox {
	position: relative;
}

.picturebox img{
	width: 100%;
	height : 600px;
}

.picturebox h1{
	position: absolute;
	top: 24%;
	left: 43%;
	color : white;
	font-size: 70px;
	font-family: Lucida Handwriting;
}

.picturebox p {
	position: absolute;
	bottom: 45%;
	left: 30%;
	color : white;
	font-size: 30px;
	font-family : Helvetica;
}

.bgkiri{
	margin-left: 120px;
	width: 730px;
	float: left;
}

.bgkiri .blog{
	position: relative;
	height: 600px;
	padding-bottom: 100px;
}

.bgkiri .blog img{
	width: 730px;
	height: auto;
}

.blog .gambar{
	position: relative;
}

.bgkiri .blog .gambar h1{
	position: absolute;
	bottom: -4%;
	left: 7%;
	color : white;
	font-size: 25px;
	width: 70px;
	height: 70px;
	padding: 5px;
	background-color: red;
	text-align: center;
	border-radius: 5px;
	transition: background-color .5s;
}

.bgkiri .blog .gambar h1:hover{
	background-color: transparent;
	color: red;
}

.desc{
	position: absolute;
	margin-top: 40px;
	padding-bottom: 100px;
	margin-left: 48px;
	width: 650px;
}

.desc a{
	text-decoration: none;
}

.desc a h1{
	transition: color .5s;
}

.desc a:hover h1{
	color: red;
}

.desc h1{
	font-size: 25px;
	padding-bottom: 20px;
	color: black;
}

.desc p{
	color: gray;
	font-size: 18px;
}

.keterangan{
	position: relative;
	margin-top: 180px;
	padding-bottom: 100px;
	margin-left: 48px;
	width: 650px;
	float: left;
}

.keterangan a{
	color: black;
	transition: color 0.5s;
}

.keterangan a:hover{
	color: red;
}

.keterangan .ketJam{
	float: left;
	padding-right: 15px;
	border-right-style: solid;
	border-width: 1px;
}

.keterangan .namanya{
	margin-left: 160px;
}

.pagination {
	margin-left: 300px;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}


.pagination a:hover:not(.active) {
	background-color: #ddd;
	color: red;
}

.pagination a.active {
	background-color: blue;
	color: white;
	border-radius: 2px;
	border: 1px solid black;
}

.bgkanan{
	margin-left: 40px;
	width: 100px;
	float: left;
}

.bgkanan .searc{
	width: 300px;
	height: 100px;
	padding: 28px;
	background-color: #DFE8CC;
}

.search {
	width: 250px;
	height: 50px;
    border:0px solid #dbdbdb;
	border-radius: 5px;
}

.searc form .icoon {
    position:relative;
	width: 45px;
	height: 50px;
	border-radius:5px;
    left:-4px;
    border:2px solid #53bd84;
    background-color:#53bd84;
    color:#fafafa;
}

.searc .icoon:hover  {
    background-color:red;
    color:#207cca;
}

.searc form .cari{
	margin-top: 20px;
	width: 300px;
	height: 40px;
	transition: background-color .5s;
	background-color: #8FE3CF;
	cursor: pointer;
}

.searc form .cari:hover{
	background-color: red;
}

.kategori{
	margin-top: 30px;
	width: 300px;
	height: 500px;
	padding: 28px;
	background-color: #DFE8CC;
}

.kategori .judulnya{
	font-size: 24px;
	padding-bottom: 10px;
	border-bottom:2px solid black;
}

.kategori .isinya p{
	color: gray;
	font-size: 20px;
	border-bottom: 1px solid gray;
	padding-top: 25px;
	padding-bottom: 25px;
}

.kategori .isinya a:hover p{
	color: red;
}


.recent{
	margin-top: 30px;
	width: 300px;
	height: 470px;
	padding: 28px;
	background-color: #DFE8CC;
}

.recent .judulnya{
	font-size: 24px;
	padding-bottom: 10px;
	border-bottom:2px solid black;
}

.recent .isinya{
	padding-top: 40px;
}

.post{
	width: 300px;
	height: 100px;
}

.poto img{
	float: left;
}

.kiripoto h1{
	margin-top: 15px;
	margin-left: 90px;
	font-size: 20px;
	position: absolute;
}

.kiripoto p{
	position: absolute;
	margin-top: 45px;
	margin-left: 90px;
}

.kiripoto a:hover h1{
	color: red;
}


.tag{
	margin-top: 30px;
	width: 300px;
	height: 240px;
	padding: 28px;
	background-color: #DFE8CC;
}

.tag .judulnya{
	font-size: 24px;
	padding-bottom: 10px;
	border-bottom:2px solid black;
}

.tag .isinya{
	margin-top: 40px;
}

.tag button{
	margin-top: 10px;
	margin-right: 10px;
	width: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
	color: black;
	transition: background-color .5s;
	cursor: pointer;

}

.tag button:hover{
	color: white;
	background-color: #eb3b5a;
}

.igfeed{
	margin-top: 30px;
	width: 300px;
	height: 270px;
	padding: 28px;
	background-color: #DFE8CC;
}

.igfeed .judulnya{
	font-size: 24px;
	padding-bottom: 10px;
	border-bottom:2px solid black;
}

.igfeed .isinya{
	margin-top: 40px;
}

.igfeed .isinya img{
	width: 80px;
	height: 80px;
	padding: 5px;
}


.subs{
	margin-top: 30px;
	width: 300px;
	height: 270px;
	padding: 28px;
	background-color: #DFE8CC;
}

.subs .judulnya{
	font-size: 24px;
	padding-bottom: 10px;
	border-bottom:2px solid black;
}

.subs .isinya{
	margin-top: 40px;
}

.subs .isinya .subskreb{
	padding-left: 20px;
	width: 260px;
	height: 40px;
}

.subs .isinya button{
	background-color: #8FE3CF;
	margin-top: 20px;
	width: 285px;
	height: 40px;
	transition: background-color .5s;
	border-color: transparent;
	cursor: pointer;
}

.subs .isinya button:hover{
	background-color: red;
}

footer {
	width: 100%;
	height: 600px;
	background-color: #130f40;
}

.isifoot{
	height: 570px;
	width:100%;
	background-color: #130f40;
	float: left;
}

.ftravelo{
	width: 240px;
	color: gray;
	padding-top: 100px;
	padding-left: 100px;
	float: left;
	padding-right: 50px;
}

.tratas{
	padding-bottom: 30px;
}

.tratas img{
	width: 170px;
}


.trtengah .text p{
	margin-bottom: 20px;
	font-size: 17px;
	color: grey;
	text-decoration: none;
	list-style: none;
}

.trtengah .link p{
	margin-bottom: 20px;
	font-size: 17px;
	color: grey;
	text-decoration: none;
	list-style: none;
	transition : color 0.5s;
}

.trtengah .link p:hover{
	margin-bottom: 20px;
	font-size: 17px;
	color: red;
	text-decoration: none;
	list-style: none;
}

.trbawah a{
	font-size: 20px;
	width: 25px;
	height: 20px;
	float: left;
	margin-top: 29px;
	margin-right: 15px;
	color: white;
	transition: color 0.5s;
}

.trbawah a:hover{
	color : red;
}

.trtengah a {
	text-decoration: none;
}


.company{
	padding-top:110px;
	margin-left: 50px;
	padding-right: 30px;
	float: left;
}

.company h1{
	color: white;
	font-size: 26px;
	margin-bottom: 50px;
}

.company a {
	text-decoration: none;
}

.company p{
	font-size: 20px;
	margin-bottom: 10px;
	text-decoration: none;
	list-style: none;
	color: gray;
	transition: color 0.5s;
}

.company p:hover {
	color: red;
}

.popular{
	padding-top:110px;
	margin-left: 50px;
	float: left;
}

.popular a {
	text-decoration: none;
}


.popular p{
	text-decoration: none;
	list-style: none;
	color: gray;
	transition: color 1s;
}

.popular p:hover{
	color: red;
}

.popular .atas p{
	color: white;
	font-size: 26px;
	margin-bottom: 50px;
}

.popular .bwhkiri{
	float: left;
	padding-right: 50px;
}

.popular .bwhkiri p{
	margin-bottom: 10px;
	font-size: 20px;
}

.popular .bwhkanan{
	float: left;
}

.popular .bwhkanan p{
	margin-bottom: 10px;
	font-size: 20px;
}

.instagram{
	padding-top:110px;
	margin-left: 90px;
	float: left;
}

.instagram p{
	text-decoration: none;
	list-style: none;
	color: gray;
}

.instagram .igatas p {
	color: white;
	font-size: 26px;
	margin-bottom: 50px;
}

.instagram img{
	width: 70px;
	height: 70px;
	padding: 10px;
	border-radius: 30px;
}

.copyright {
	position: absolute;
	display: block;
	width: 1000px;
	margin-top: 520px;
	margin-left: 160px;
	border-top: 2px solid black;

}

.copyright p {
	color: white;
	margin-top : 20px;
	margin-left: 21%;
	font-size: 18px;
}

.copyright a {
	margin-left: 5px;
	text-decoration: none;
	color: red;
}

.copyright i {
	color: red;
}